caches_mmu
common_bsv
common_verilog
devices
fabrics
csrbox
riscv-config
obj_dir/
bin/
old_vars
sim_main\.h
verification/
tags
verilog-artifacts/
benchmarks
micro-arch-tests/performance_tests/benchmarks/app_log
micro-arch-tests/performance_tests/benchmarks/*.mem
micro-arch-tests/performance_tests/benchmarks/*.riscv
micro-arch-tests/performance_tests/benchmarks/*.out
micro-arch-tests/performance_tests/benchmarks/*.dump
micro-arch-tests/performance_tests/benchmarks/out
micro-arch-tests/performance_tests/benchmarks/rtldump
micro-arch-tests/performance_tests/benchmarks/boot.*
micro-arch-tests/performance_tests/benchmarks/signature
micro-arch-tests/performance_tests/benchmarks/log
micro-arch-tests/performance_tests/tests/app_log
micro-arch-tests/performance_tests/tests/*.mem
micro-arch-tests/performance_tests/tests/*.riscv
micro-arch-tests/performance_tests/tests/*.out
micro-arch-tests/performance_tests/tests/*.dump
micro-arch-tests/performance_tests/tests/out
micro-arch-tests/performance_tests/tests/rtldump
micro-arch-tests/performance_tests/tests/boot.*
micro-arch-tests/performance_tests/tests/signature
micro-arch-tests/performance_tests/tests/log
makefile.inc
*.pyc
_pycache_
run.log
.python-version

build/

depends.mk

csrbox_bsv/

boot/c-class.dtb

boot/config.c-class

boot/shakti.dtb
*.mem*
